
*{
    letter-spacing:1px;
    overflow-x: hidden;
    font-family: Courier New, monospace; 
    color:rgb(26, 94, 68)  
}
h1{
    font-size: 70px;

  
    margin-top: 15px;
    margin-left: 470px;
    color:rgb(26, 94, 68);
}

h2{
    font-size: 30px;
    padding-top: 0px;
    color:rgb(26, 94, 68);
    text-align: center;
}

#options{
    font-size: 28px;
    padding-left: 20px;
    text-align: left;
    margin-top:10px;
    line-height: 50px;
    color:rgb(255, 255, 255);
    
}

#indicators{
    font-size: 50px;
    padding-left: 20px;
    text-align: left;
    margin-top:10px;
    line-height: 50px;
    color:rgb(255, 255, 255);
    
}





.image1{ 
    width: 20;
    height: 30;
    position: absolute;
    top: 0px;
    left: 1000px;
    size : 15px;
    padding-top: 0px;
    } 

#nbProducts{
    font-size: 15px;
    padding-left: 20px;
    text-align: left;
    margin-top:10px;
    line-height: 50px;
    color:rgb(26, 94, 68);
    margin-right:20px;


}

#indicators{
    font-size: 15px;
    padding-left: 20px;
    text-align: left;
    margin-top:10px;
    
    color:rgb(255, 255, 255);

}

#filters{
    font-size: 15px;
    padding-left: 20px;
    text-align: left;
    margin-top:10px;
    
    color:rgb(255, 255, 255);
}

#price{
    font-size: 15px;
    padding-left: 20px;
    text-align: left;
    margin-top:10px;
    
    color:rgb(255, 255, 255);
}

#brand{
    font-size: 15px;
    padding-left: 20px;
    text-align: left;
    margin-top:10px;
    
    color:rgb(255, 255, 255);
}

#sort{
    font-size: 15px;
    padding-left: 20px;
    text-align: left;
    margin-top:10px;
    
    color:rgb(255, 255, 255);
}

#show{
    font-size: 15px;
    padding-left: 20px;
    text-align: left;
    margin-top:10px;
    
    color:rgb(255, 255, 255);
}

#page{
    font-size: 15px;
    padding-left: 20px;
    text-align: left;
    margin-top:10px;
    
    color:rgb(255, 255, 255);
}

/*#bg-image{
    filter: blur(8px);
    -webkit-filter: blur(8px);
}*/




.product-info {
    justify-content: space-around;
    align-items:center;
    align-self: center;
    align-content: space-between;
  }


.product-photo{
    max-height: 400px;
    height:auto;
    max-width: 400px;
    border-radius: 10px;
}
@media screen and (max-width: 450px){   
    .product-photo{   
        max-height: 300px;
        height:auto;
        max-width: 400px;
        border-radius: 8px;   
    } 
}
@media screen and (max-width: 330px){   
    .product-photo{   
        max-height: 250px;
        height:auto;
        max-width: 250px;
        border-radius: 8px;   
    } 
}

.img_container{
    position: relative;
}

.img_container button{
  position: absolute;
  top: 2%;
  right: 2%;
  width:40px;
  height:40px;
  border:none;
  background-color:transparent;
}


.flex-container {
    display: flex;
  flex-wrap: wrap;
  flex: 1;
  justify-content: space-around;
  align-content: space-around;
  }


  .product-card {
    padding: 3%;
    flex-grow: 1;
    flex-basis: 19%;
    text-align: center;
  }

  .product-image img {
    max-width: 100%;
  }

  
  .product-card {
    flex: 1 19%;
  }

.tab{
    border:"3";
    margin-top:"20px";
    width:"500 px";
    height:"50"; 
    margin-right:"50px"
}
